/*Colors: light pink #FBD5DB, gray #818183 charcoal #5D737E teal #64B6AC light blue #C0FDFB*/
html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Anonymous Pro', monospace;
    text-align: center;
    color: #5D737E;
    width: 100%;
    height: 100%;
    font-size: 1.25vw;
}
h1{
   font-size: 4vw;
}
h2 {
    font-size: 3.5vw;
    margin: 1vw;
}
h3 {
    font-size: 2.3vw;
}
h4 {
    font-size: 2.1vw;
}
p {
    font-family: 'Ubuntu', sans-serif;
}
.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1440px;
}
.row {
    width:100%;
    padding: 3vw 0;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 1.5vw;
    box-sizing: border-box;
}
.column.one {
    width: 100%;
}
.column.one-fourth{
    width: 25%;
}
.column.two-fifths{
    width: 40%;
}
.column.three-fifths{
    width: 60%;
}
.column.three-eighths{
    width: 37.5%;
}
.column.five-eighths{
    width: 62.5%;
}
.column.one-half{
    width: 50%;
}
.column.three-fourths{
    width: 75%;
}
.column.three-fourths.offset{
    margin-left: 12.5%;
}
.column.one-third {
    width: 33.33%;
}
.column.one-third.offset{
    margin-left: 33.33%;
}
.column.one-half.offset{
    margin-left: 25%;
}
.column.two-thirds {
    width: 66.67%;
}
.nav {
    box-sizing: border-box;
    width: 100%;
    background: #5D737E;
    color: white;
    padding: 1.5vw;
    position: fixed;
    z-index: 10;
    font-size: 1.5vw;
}
.nav .name {
    display: inline;
    position: absolute;
    left: 43.75vw;
    text-decoration: none;
    color: white;
}
.nav-links.right {
    float: right;
    display: inline;
}
.nav-links.left {
    float: left;
    display: inline;
}
.nav-links a{
    padding: 1.5vw;
    text-decoration: none;
    color: white;
}
.nav a:hover{
    color: #FBD5DB;
}
.nav a:active{
    color: #64B6AC;
}
.banner{
    width: 100%;
    background: white;
    min-height: 100%;
}
.banner-inner{
    padding: 20vw;
}
.pink{
    background: #FBD5DB;
}
.about p{
    text-align: left;
    background: #5D737E;
    color: #64B6AC;
    padding: 1.5vw;
    border-radius: 10px;
    height: 55vw;
    line-height: 2vw;
}
.focus{
    color: white;
}
.light-blue {
    background: #C0FDFB;
}
.paper {
    background: white;
    border-radius: 15px;
    width: 100%;
    height: 83.2vw;
    text-align: left;

}
.paper h4 {
    margin: 1vw 0;
}
.paper dd, .paper dt, .paper li{
    margin-top: .4vw;
}
.paper dd {
    margin-left: 2.5vw;
}
.paper ul {
    padding-left: 1.5vw;
}
.leftColumn{
    background: #64B6AC;
    color: white;
    height: 100%;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    padding-left: 2vw;
    padding-right: 2vw;
}
.professionalImg img {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    width: 80%;
    margin: 1vw 0;
}
.leftColumn h3{
    text-align: center;
    margin-top: 1.5vw;
    margin-bottom: 2.5vw;
    font-size: 2.45vw;
}
.resumeContact span {
    color: white;
    text-decoration: none;
}
.toolsList{
    display: flex;
}
.resumeTools p{
    margin: .75vw;
}
.professionalImg{
    text-align: center;
}
.downloadResume{
    color: #fafafa;
    background: #64B6AC;
    padding: .75vw;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}
.downloadResume:hover{
    color: #5D737E;
    background: #fafafa;
}
.downloadResume:active{
    background: #818183;
    color: #fafafa;
}
.rightColumn {
    height: 100%;
}
.gray{
    background: #818183;
    color: white;
}
.projects img {
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}
.tag {
    border: 3px solid #64B6AC;
    padding: .5vw;
    border-radius: 15px;
    margin: .5vw;
    float: left;
}
.contact {
    background: #64B6AC;
}
.contact img{
    border-radius: 50%;
    margin: 3.5vw 0;
    width: 100%;
}
.modal{
    display:none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modalContent {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/*------------------------------------SIMON MODAL--------------------------------*/
#simonContent {
    width: 50%;
    margin: 3% auto;
    height: 45vw;
}
#simonContent h1 {
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 4vw;
    margin: 1.5vw 0;
}
#simonContent button {
    height: 3vw;
    font-size: 2vw;
    border-radius: 5px;
    margin: 1vw;
    font-family: 'VT323', monospace;
}
#simonContent button:hover {
    background: black;
    color: white;
    cursor: pointer;
}
.block {
    width: 16.64816870144284vw;
    height: 16.64816870144284vw;
    margin: 1.1098779134295227vw;
    overflow: hidden;
}
.top, .bottom {
    display: flex;
    justify-content: center;
}
.topRight {
    border-top-right-radius: 100%;
}
.topLeft{
    border-top-left-radius: 100%;
}
.bottomLeft{
    border-bottom-left-radius: 100%;
}
.bottomRight{
    border-bottom-right-radius: 100%;
}
.circle {
    position: absolute;
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    background: white;
    top: 11vw;
    left: 17vw;
}
.red {
    background: red;
}
.blue {
    background: blue;
}
.yellow {
    background: yellow;
}
.green {
    background: green;
}
.muteRed {
    background: #D97273;
}
.muteBlue {
    background: #9acfea;
}
.muteYellow {
    background: khaki;
}
.muteGreen {
    background: #6CA559;
}
#game{
    position: relative;
}
.overAnimation {
    background: url("../img/simon-game-over.png");
    background-size: 211vw 38.5vw;
    position: absolute;
    width: 42.2vw;
    height: 40vw;
    top: -.5vw;
    left: 3.6vw;
    animation:over 1s steps(5, end);
    animation-fill-mode: forwards;
}
@keyframes over {
    0%{background-position: 0 -.5vw;}
    100%{background-position: -211vw;}
}
#html {
    font-size: 6vw;
    font-family: 'VT323', monospace;
    position: absolute;
    top: 16vw;
    left: 24vw;
    /*text-align: center;*/
}

